

.body>.top>img {
	width: 100%;
}

.body>.content>div {
	width: 100%;
}

.body>.content>.title {
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	margin-top: 20px;
	margin-bottom: 20px;
}

.body>.content>.introduction {
	text-indent: 2em;
	word-wrap: break-word;
	word-break: break-all;
	margin-bottom: 20px;
}



.owl-carousel-section{
width:80%;
margin-left:10%;
margin-right:10%
}
.owl-carousel-section>.small{
	width: 20%;
	float: left;
}
.owl-carousel-section>.big{
	width: 80%;
	float: left;
}
.body>.position>.a,.body>.position>.b{
	width: 25%;
	float: left;
}
.body>.position>.c{
	width: 50%;
	float: left;
}

.body>.position>div>img{
	width: 100%;
}
