$min-width:768px;
$max-width:1024px;
@media screen and (max-width:$max-width) and (min-width: $min-width){
    body{
        .middle .container {
            .right{
                width: 30%;
            }
            .left{
                width: 70%;
            }

            .gameImage{
                .game-left{
                    width: 50%;
                }
                .game-right{
                    width: 50%;
                }
            }
        }

        .banner .download .container{
            .apple,.google{
                img{
                    width: 150px !important;
                }
            }
        }

        .foot1,.foot2{
            .container .guide a .article{
                .left{
                    margin-left: 0 !important;
                    width: 25% !important;
                }
            }
        }

        .foot2{
            background: black !important;
        }
    }
}