body {
  font-size: 0; }
  body .banner {
    position: relative; }
    body .banner .back {
      width: 100%; }
    body .banner .download {
      width: 100%;
      position: absolute;
      bottom: 50px; }
      body .banner .download .container {
        margin: auto; }
        body .banner .download .container .apple {
          margin-right: 50px;
          text-align: right; }
          body .banner .download .container .apple img {
            width: 200px; }
        body .banner .download .container .google {
          margin-right: 50px;
          margin-top: 20px;
          text-align: right; }
          body .banner .download .container .google img {
            width: 200px; }
  body .middle {
    background-color: black; }
    body .middle .container {
      font-size: 0;
      color: white; }
      body .middle .container .left {
        font-size: 18px;
        float: left; }
        body .middle .container .left .tab {
          width: 100%;
          margin: auto;
          font-size: 16px;
          font-weight: bolder;
          height: 50px;
          color: #d1d1d1; }
          body .middle .container .left .tab div[name] {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 30px;
            cursor: pointer; }
          body .middle .container .left .tab div[name].active {
            color: #feca00;
            border-bottom: 1px solid #feca00; }
        body .middle .container .left div[tab] {
          display: none;
          color: white; }
        body .middle .container .left div[tab=news] .row, body .middle .container .left div[tab=faq] .row {
          font-size: 0;
          margin-bottom: 25px; }
          body .middle .container .left div[tab=news] .row .newsImg, body .middle .container .left div[tab=news] .row .faqImg, body .middle .container .left div[tab=faq] .row .newsImg, body .middle .container .left div[tab=faq] .row .faqImg {
            display: inline-block;
            width: 25%; }
            body .middle .container .left div[tab=news] .row .newsImg img, body .middle .container .left div[tab=news] .row .faqImg img, body .middle .container .left div[tab=faq] .row .newsImg img, body .middle .container .left div[tab=faq] .row .faqImg img {
              width: 100%; }
          body .middle .container .left div[tab=news] .row .newsText, body .middle .container .left div[tab=news] .row .faqText, body .middle .container .left div[tab=faq] .row .newsText, body .middle .container .left div[tab=faq] .row .faqText {
            display: inline-block;
            vertical-align: top;
            width: 75%; }
            body .middle .container .left div[tab=news] .row .newsText .text1, body .middle .container .left div[tab=news] .row .faqText .text1, body .middle .container .left div[tab=faq] .row .newsText .text1, body .middle .container .left div[tab=faq] .row .faqText .text1 {
              padding-left: 20px;
              padding-right: 20px;
              font-size: 16px;
              color: #feca00;
              margin-bottom: 5px; }
            body .middle .container .left div[tab=news] .row .newsText .text2, body .middle .container .left div[tab=news] .row .faqText .text2, body .middle .container .left div[tab=faq] .row .newsText .text2, body .middle .container .left div[tab=faq] .row .faqText .text2 {
              padding-left: 20px;
              padding-right: 20px;
              font-size: 14px;
              color: white; }
        body .middle .container .left div[tab=activity] img {
          width: 100%;
          margin-bottom: 25px; }
      body .middle .container .right {
        font-size: 14px;
        vertical-align: top;
        float: right;
        position: relative; }
        body .middle .container .right .subscripe {
          width: 100%; }
        body .middle .container .right .subscripeBottom {
          position: absolute;
          text-align: center;
          bottom: 10%;
          width: 100%; }
          body .middle .container .right .subscripeBottom img {
            width: 50%; }
      body .middle .container .gameImage {
        font-size: 0;
        padding-bottom: 50px; }
        body .middle .container .gameImage .game-left {
          vertical-align: top;
          display: inline-block; }
          body .middle .container .gameImage .game-left .logo img {
            margin-top: 30px;
            margin-left: 25%;
            width: 50%; }
          body .middle .container .gameImage .game-left .text {
            font-size: 16px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 30px;
            line-height: 30px;
            word-break: normal; }
        body .middle .container .gameImage .game-right {
          vertical-align: top;
          display: inline-block; }
          body .middle .container .gameImage .game-right img {
            width: 100%; }
  body .foot1, body .foot2 {
    color: white;
    width: 100%; }
    body .foot1 .container .guide, body .foot2 .container .guide {
      opacity: 0.8;
      font-size: 18px;
      padding-top: 20px; }
      body .foot1 .container .guide .title, body .foot2 .container .guide .title {
        text-align: center; }
      body .foot1 .container .guide .shortLine, body .foot2 .container .guide .shortLine {
        padding-top: 10px;
        padding-bottom: 10px; }
        body .foot1 .container .guide .shortLine img, body .foot2 .container .guide .shortLine img {
          margin-left: 20%;
          width: 60%; }
      body .foot1 .container .guide .longLine, body .foot2 .container .guide .longLine {
        padding-top: 10px;
        padding-bottom: 10px; }
        body .foot1 .container .guide .longLine img, body .foot2 .container .guide .longLine img {
          width: 100%; }
      body .foot1 .container .guide a, body .foot2 .container .guide a {
        text-decoration: none; }
        body .foot1 .container .guide a .article, body .foot2 .container .guide a .article {
          font-size: 0; }
          body .foot1 .container .guide a .article .left, body .foot2 .container .guide a .article .left {
            display: inline-block;
            margin-left: 10%;
            width: 15%; }
            body .foot1 .container .guide a .article .left img, body .foot2 .container .guide a .article .left img {
              width: 100%; }
          body .foot1 .container .guide a .article .right, body .foot2 .container .guide a .article .right {
            vertical-align: top;
            margin-left: 10%;
            width: 65%;
            display: inline-block; }
            body .foot1 .container .guide a .article .right .text1, body .foot2 .container .guide a .article .right .text1 {
              font-size: 18px;
              color: white;
              margin-bottom: 15px; }
            body .foot1 .container .guide a .article .right .text2, body .foot2 .container .guide a .article .right .text2 {
              font-size: 16px;
              color: #818181;
              line-height: 20px; }
      body .foot1 .container .guide .more, body .foot2 .container .guide .more {
        font-size: 26px;
        font-weight: bolder;
        text-align: center; }
        body .foot1 .container .guide .more a, body .foot2 .container .guide .more a {
          color: white;
          text-decoration: none; }
  body .foot1 {
    background-color: black; }
  body .foot2 {
    background: black url("../image/footback.png") no-repeat;
    background-size: 100%; }

/*# sourceMappingURL=index.css.map */
