/*display class*/
.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

/*body no margin*/
body {
    margin: 0px;
}

@mixin button($name,$color1,$color2,$color3) {
    .button-#{$name}{
        display: inline-block;
        background: linear-gradient(to bottom, $color1 0, $color2 100%) repeat-x;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
        color: #fff;
        cursor: pointer;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border: 1px solid $color3;
        border-radius: 4px;
        touch-action: manipulation;
    }
    .button-#{$name}:active{
        background: linear-gradient(to top, $color2 0, $color1 100%) repeat-x;
    }
}

@include button(info,#5bc0de,#2aabd2,#28a4c9);
@include button(success,#5cb85c,#419641,#3e8f3e);
@include button(danger,#d9534f,#c12e2a,#b92c28);
@include button(warning,#f0ad4e,#eb9316,#e38d13);
@include button(minus,#ff7b40,#ff9e73,#ff4f00);
@include button(dark,rgba(40,40,40,1),rgba(50,50,50,1),rgba(190,190,190,1));

.input{
    height: 20px;
    padding: 6px 6px;
    font-size: 14px;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    
}
.input:focus{
    text-decoration: none;
}