<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
	name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<title>Developers</title>
<link rel="icon" href="../Images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="../Images/favicon.ico"
	type="image/x-icon" />
<script src="../Controllers/init.js"></script>
<link rel="stylesheet" href="../Controllers/common/common.css">
<link rel="stylesheet" href="../Controllers/developers/developers.css">
<link rel="stylesheet" media="screen and (min-width:1200px)"
	href="../Controllers/common/common-big.css">
<link rel="stylesheet" media="screen and (max-width:1200px)"
	href="../Controllers/common/common-small.css">

</head>
<body>
	<div class="head">
		<div class="icon">
			<a href="../home/"><img src="../Images/icon.png"></a>
		</div>
		<div class="content">
			<div class="list">
				<i class="fa fa-list"></i> <i class="fa fa-times"></i>
			</div>
			<div class="menu">
				<ul>
					<li><a href="../home/">Home</a></li>
					<li><a href="../about_us/">About Us</a></li>
					<li><a href="../games/">Games</a></li>
					<li><a class="active" href="../developers/">Developers</a></li>
					<li><a href="../blog/">Blog</a></li>
					<li><a href="../contact_us/">Contact Us</a></li>
					<li class="search"><input><img
						src="../Images/search.png"></li>
					<li class="language">
						<div class="en lang">ENG</div>
						<div>&</div>
						<div class="ch lang">中</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="body">
		<div class="top">
			<div class="text">
				<button>Why choose radium</button>
			</div>
			<img src="../Images/developers/top.jpg" size="1900,872">
		</div>

		<div class="content">
			<div>
				<div class="left">
					<img src="../Images/developers/publishing.png"
						ondragstart="return false" oncontextmenu="return false">
					<div>Publishing</div>
				</div>
				<div class="right">
					<div class="text">
						<div class="top">Publishing</div>
						<div class="middle">aaaaaaaaaaaaaaaafsdgdsgfdgfdgdfgfdgdfgfd</div>
						<div class="bottom">
							<a href="">know more</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="left">
					<div class="text">
						<div class="top">Global Reach</div>
						<div class="middle">aaaaaaaaaaaaaaaafsdgdsgfdgfdgdfgfdgdfgfd</div>
						<div class="bottom">
							<a href="">know more</a>
						</div>
					</div>
				</div>
				<div class="right">
					<img src="../Images/developers/globalreach.jpg"
						ondragstart="return false" oncontextmenu="return false">
					<div>Global Reach</div>
				</div>
			</div>
			<div>
				<div class="left">
					<img src="../Images/developers/monetization.jpg"
						ondragstart="return false" oncontextmenu="return false">
					<div>Monetization</div>
				</div>
				<div class="right">
					<div class="text">
						<div class="top">Monetization</div>
						<div class="middle">aaaaaaaaaaaaaaaafsdgdsgfdgfdgdfgfdgdfgfd</div>
						<div class="bottom">
							<a href="">know more</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="left">
					<div class="text">
						<div class="top">Localization</div>
						<div class="middle">aaaaaaaaaaaaaaaafsdgdsgfdgfdgdfgfdgdfgfd</div>
						<div class="bottom">
							<a href="">know more</a>
						</div>
					</div>
				</div>
				<div class="right">
					<img src="../Images/developers/localization.png"
						ondragstart="return false" oncontextmenu="return false">
					<div>Localization</div>
				</div>
			</div>
			<div>
				<div class="left">
					<img src="../Images/developers/branding.png"
						ondragstart="return false" oncontextmenu="return false">
					<div>Branding</div>
				</div>
				<div class="right">
					<div class="text">
						<div class="top">Branding</div>
						<div class="middle">aaaaaaaaaaaaaaaafsdgdsgfdgfdgdfgfdgdfgfd</div>
						<div class="bottom">
							<a href="">know more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div>
			<div class="left inline-block">
				<div>Subscribe to our Newsletter</div>
				<div class="email_input inline-block">
					<input placeholder="Email">
				</div>
				<div class="inline-block">
					<button>Subscribe</button>
				</div>
			</div>
			<div class="right inline-block">
				<span>Social Media</span> <img src="../Images/twitter.png"> <img
					src="../Images/facebook.png"> <img
					src="../Images/linkedin.png">
			</div>
		</div>
		<div class="footer_line"></div>
		<div class="footer_text">
			<div class="inline-block">All Rights Reserved</div>
			<img class="inline-block" src="../Images/verticalline.jpg">
			<div class="inline-block">Radium Mobile Entertainment 2016</div>
		</div>
	</div>

	<div class="back-to-top"><i class="fa fa-arrow-circle-up"></i></div>

<script src="../Controllers/common/common.js"></script>
	<script src="../Controllers/developers/developers.js"></script>
</body>
</html>
