.top-static {
    margin-top: 70px;
    position: relative;
    .overlay {

        position: absolute;
        top: 80%;
        width: 100%;
        .text {
            margin: 0 auto;

        }
    }
    .top-static-img {
        width: 100%;
    }

}

.body {
    $game-img-space: 10px;
    $address-img-space: 50px;
    $img-margin: 50px;
    $game-title-top: 62px;
    $game-title-bottom: 25px;

    .recruit {
        font-family: Helvetica-Light, Hiragino-W3;
        font-size: 0;
        .recruit-content1, .recruit-content2, .recruit-content3 {
            vertical-align: top;
            $div-height: 442px;
            $div-small-top: 10px;
            $div-top: (($div-height)-30-30-$div-small-top)/2;
            width: $div-height;
            height: $div-height;
            line-height: 30px;
            display: inline-block;
            text-align: left;
            background-color: #f0f0f0;
            border-right: 1px solid #e0e0e0;
            border-left: 1px solid #f8f8f8;
            position: relative;
            .circle {
                position: absolute;
                height: 10px;
                width: 10px;
                background-color: #333;
                border-radius: 5px;
                top: $div-top+10;
                left: 30px;
            }
            .big {
                color: #333;
                padding-left: 50px;
                padding-top: $div-top;
                font-size: 18px;
                font-weight: bolder;
            }
            .small {
                //color: #999;
                color:#0000CC;
                padding-left: 50px;
                padding-top: $div-small-top;
                font-size: 16px;
                text-decoration: underline;
            }
        }
        .recruit-content1 {
            border-left: none;
        }
        .recruit-content3 {
            border-right: none;
        }
    }

}


