.top-static{
    margin-top:70px;
    position: relative;
    .overlay{

        position: absolute;
        top:80%;
        width: 100%;
        .text{
            margin: 0 auto;

        }
    }
    .top-static-img{
        width: 100%;
    }

}

.body {
    $game-img-space: 10px;
    $address-img-space: 50px;
    $img-margin: 50px;
    $game-title-top: 62px;
    $game-title-bottom: 25px;

    .recruit {
        font-family: Helvetica-Light,Hiragino-W3;
        padding-top: 30px;
        .recruit-content {
            margin-bottom: 30px;
            line-height: 30px;
            .small {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }

}


