.addon-table {
    i {
        cursor: pointer;
    }

    .rotate{
        animation: rotate 3s infinite linear;
        @keyframes rotate {
            from {
                transform: rotateZ(0deg)
            }
            to {
                transform: rotateZ(360deg)
            }
        }
    }

    @mixin disableSelect {
        moz-user-select: -moz-none;
        -moz-user-select: none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @mixin panel {
        position: absolute;
        z-index: 2;
        display: none;
        background-color: rgba(196, 225, 255, 1);
        padding: 10px;
        font-size: 12px;
        box-shadow: 3px 3px 3px rgba(220, 225, 255, 1);
        border: 2px solid rgba(210, 225, 255, 1);
        border-radius: 2px;
    }

    div[key] {
        display: none;
    }

    .left {

        display: inline-block;
        float: left;
        .request {
            margin-bottom: 10px;
            button {
                margin-right: 10px;
            }
            .create, .update, .copy {
                display: inline-block;
                .create-panel, .update-panel, .copy-panel {
                    @include panel;
                    table {
                        margin-top: 10px;
                        thead {
                            th {
                                min-width: 100px;
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    input {
                                        width: 100px;
                                        text-align: center;
                                    }
                                    .datepicker{
                                        width: 120px;
                                    }
                                }
                            }
                        }
                    }
                    .submit-table {
                        margin-bottom: 20px;
                    }
                    .unify {
                        text-align: center;
                        font-size: 12px;
                        color: #ff7b40;
                        .unify-table {
                            color: #ff7b40;
                        }
                    }

                }
            }


        }

        .filter {
            margin-bottom: 10px;
            .row-filter{
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                i.fa-check-square-o {
                    margin-left: 5px;
                }
                .row-filter-panel {
                    @include panel;
                    .row-filter-panel-head {
                        .add-button {
                            i {
                                margin-right: 5px;
                            }
                        }
                        .filter-button {
                            margin-left: 10px;
                            i {
                                margin-right: 5px;
                            }
                        }
                    }

                    .row-filter-panel-body {
                        .row {
                            margin-top: 10px;
                            select {
                                height: 34px;
                                width: 100px;
                            }
                            .value {
                                margin-left: 10px;
                            }
                            .button-minus {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            .singleFilter{
                width: 100px;
                margin-right: 10px;
            }
            .revert{
                margin-right: 10px;
            }
            .chart{
                display: inline-block;
                .chart-panel{
                    @include panel;
                    .row{
                        font-size: 14px;
                        line-height: 34px;
                        margin-top: 10px;
                        select{
                            height: 34px;
                            width: 150px;
                            margin-right: 100px;
                        }

                        label{
                            display:inline-block ;
                            width: 100px;
                        }

                    }

                }
            }
        }
    }

    .right {

        float: right;
        display: inline-block;
        .rowPerPage {
            margin-bottom: 10px;
            text-align: right;
            select {
                width: 80px;
                height: 34px;
                padding-left: 20px;
            }
        }

        .pagination {
            margin-bottom: 10px;
            float: right;
            button {
                margin-left: 5px;
            }
            .page {
                width: 34px;
                height: 28px;
                text-align: center;
                margin-left: 5px;
            }
        }

        .progress {
            height: 34px;
            position: relative;
            background-color: rgba(121, 200, 230, 1);
            cursor: pointer;
            .text {
                position: absolute;
                height: 34px;
                text-align: center;
                line-height: 34px;
                width: 100%;
                @include disableSelect;
            }
            .current {
                width: 0;
                height: 32px;
                background-color: rgba(99, 191, 225, 1);
                border: 1px solid rgba(65, 132, 243, 1);
            }
        }

    }

    table {
        $func-color: rgba(240, 240, 240, 1);
        $hover-color: #97cbff;
        $odd-row-color: #d9ffff;
        $even-row-color: #c4e1ff;
        width: 100%;
        text-align: center;
        border: solid 1px gray;
        border-collapse: collapse;
        box-shadow: 5px 5px rgba(224, 244, 244, 1);
        thead {
            //position: fixed;
            border-bottom: 2px solid gray;
            tr {
                height: 40px;
                th {
                    border: solid 1px gray;
                    input[type=checkbox] {
                        width: 18px;
                        height: 18px;
                        cursor: pointer;
                    }
                    i.fa-sort {
                        opacity: 0.2;
                    }
                    @include disableSelect;
                }
                th.func {
                    background-color: $func-color;
                }
                th[name=id] {
                    display: none;
                }
                th.hide {
                    display: none;
                }
                th.content:hover {
                    cursor: pointer;
                    background-color: #2aabd2;
                }
            }

        }
        tbody {
            tr {
                display: table-row;
                height: 40px;
                td {
                    border: solid 1px gray;
                    .fa-refresh {
                        animation: loading 3s infinite linear;
                        font-size: 30px;

                        @keyframes loading {
                            from {
                                transform: rotateZ(0deg)
                            }
                            to {
                                transform: rotateZ(360deg)
                            }
                        }
                    }
                    input[type=checkbox] {
                        width: 18px;
                        height: 18px;
                        cursor: pointer;
                    }
                    input[type=text] {
                        height: 24px;
                    }
                    button {
                        margin-right: 0 !important;
                    }
                }
                td[name=id] {
                    display: none;
                }
                td.hide {
                    display: none;
                }
                td.func {
                    background-color: $func-color;
                    .attachment-panel {
                        display: none;
                        @include panel;
                        @include disableSelect;
                        .attachment-panel-head {
                            text-align: left;
                            button {
                                margin-right: 10px !important;
                            }

                            .fa-refresh {
                                animation: none;
                                font-size: 14px;
                            }

                            .attachment-create-panel {
                                display: none;
                                @include panel;
                                table {
                                    margin-top:10px;
                                    thead{
                                        th{
                                            min-width: 150px;
                                        }
                                    }

                                    tbody {
                                        td {
                                            input[type=file] {
                                                display: none;
                                            }
                                            input[type=text]{
                                                width:136px;
                                            }
                                            .progress {
                                                background-color: #46b8da;
                                                height: 30px;
                                                .percent{
                                                    position: absolute;
                                                    height: 30px;
                                                    width: 150px;
                                                    line-height: 30px;
                                                    text-align: center;
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }
                        .attachment-panel-body {
                            margin-top: 10px;
                        }
                    }
                }
            }
            tr:nth-child(2n+1) {
                background-color: $odd-row-color;
            }
            tr:nth-child(2n+2) {
                background-color: $even-row-color;
            }
            tr:hover {
                background-color: $hover-color;
            }
            tr.active {
                background: linear-gradient(to bottom, #5bc0de 0, #2aabd2 100%) repeat-x;
            }
        }
    }

    .svg{
        margin-top:20px;
        font-size: 0;
        svg{
            display: inline-block;
            width: 80%;
        }
        .symbol{
            vertical-align: top;
            display: inline-block;
            width: 20%;
            .row{
                margin-top:5px;
                font-size: 16px;
                margin-left:20px;
                .line{
                    display: inline-block;
                    height: 15px;
                    width: 50px;
                    margin-right: 5px;
                }
            }

        }
    }
}

.addon-modal[name=table] {
    .modal-panel {
        .row {
            display: inline-block;
            margin-top: 10px;
            width: 50%;

            .name {
                display: inline-block;
                width: 20%;
                text-align: right;

            }
            .form {
                display: inline-block;
                width: 80%;
            }
        }
        .modal-submit {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;

        }

    }
}

