.top-static {
  margin-top: 70px;
  position: relative; }
  .top-static .overlay {
    position: absolute;
    top: 80%;
    width: 100%; }
    .top-static .overlay .text {
      margin: 0 auto; }
  .top-static .top-static-img {
    width: 100%; }

.body .recruit {
  font-family: Helvetica-Light,Hiragino-W3;
  padding-top: 30px; }
  .body .recruit .recruit-content {
    margin-bottom: 30px;
    line-height: 30px; }
    .body .recruit .recruit-content .small {
      margin-top: 20px;
      margin-bottom: 20px; }
  .body .recruit .recruit-table table {
    width: 100%;
    border: 2px solid transparent;
    border-collapse: collapse; }
    .body .recruit .recruit-table table thead tr {
      height: 40px; }
      .body .recruit .recruit-table table thead tr th {
        font-size: 16px;
        text-align: center;
        font-family: Helvetica-Bold,Hiragino-W6; }
      .body .recruit .recruit-table table thead tr th:first-child {
        text-align: left;
        padding-left: 20px; }
    .body .recruit .recruit-table table tbody tr {
      cursor: pointer; }
      .body .recruit .recruit-table table tbody tr td {
        font-size: 15px;
        text-align: center;
        border-bottom: 1px solid #f2f2f3;
        border-collapse: collapse;
        height: 40px; }
      .body .recruit .recruit-table table tbody tr td:first-child {
        text-align: left;
        padding-left: 20px; }
      .body .recruit .recruit-table table tbody tr td[colspan='4'] {
        cursor: auto;
        display: none;
        height: auto; }
        .body .recruit .recruit-table table tbody tr td[colspan='4'] .big {
          font-size: 15px;
          line-height: 25px; }
        .body .recruit .recruit-table table tbody tr td[colspan='4'] .small {
          font-size: 14px;
          padding-bottom: 30px;
          line-height: 25px; }
        .body .recruit .recruit-table table tbody tr td[colspan='4'] .submit {
          padding-bottom: 30px;
          text-align: left; }
          .body .recruit .recruit-table table tbody tr td[colspan='4'] .submit button {
            width: 170px;
            height: 45px;
            border: none;
            outline: none;
            background-color: #373737;
            color: white; }
    .body .recruit .recruit-table table tbody tr:nth-child(4n+1), .body .recruit .recruit-table table tbody tr:nth-child(4n+2) {
      background-color: #e8e8e8; }
    .body .recruit .recruit-table table tbody tr:nth-child(4n+3), .body .recruit .recruit-table table tbody tr:nth-child(4n+4) {
      background-color: white; }
  .body .recruit .resume-div {
    padding-top: 20px;
    display: none;
    position: fixed;
    border: 1px solid #1b1a18;
    background-color: white;
    height: 300px;
    width: 300px; }
    .body .recruit .resume-div .left, .body .recruit .resume-div .right {
      display: inline-block;
      margin-bottom: 10px; }
      .body .recruit .resume-div .left input, .body .recruit .resume-div .right input {
        width: 170px;
        height: 30px;
        border: 1px solid red;
        outline: none;
        padding-left: 10px;
        padding-right: 10px; }
      .body .recruit .resume-div .left input:focus, .body .recruit .resume-div .right input:focus {
        border-color: lightskyblue; }
    .body .recruit .resume-div .left {
      line-height: 30px;
      width: 70px;
      text-align: right; }
    .body .recruit .resume-div .attachment input[type=file] {
      display: none; }
    .body .recruit .resume-div .attachment button {
      border: none;
      width: 192px;
      height: 30px;
      border: 1px solid red;
      outline: none; }
    .body .recruit .resume-div .status .right {
      background-color: #e8e8e8;
      width: 192px;
      text-align: center;
      height: 30px;
      line-height: 30px; }
      .body .recruit .resume-div .status .right .progress {
        background-color: #46b8da;
        height: 30px; }
    .body .recruit .resume-div .send button {
      border: none;
      background-color: #e8e8e8;
      height: 30px;
      width: 192px; }
    .body .recruit .resume-div .close {
      position: absolute;
      right: 1%;
      top: 0px; }
      .body .recruit .resume-div .close i {
        cursor: pointer; }
.body .address {
  border-top: 1px solid #dbdbdb;
  background-color: #e8e8e8;
  padding-bottom: 20px;
  font-size: 0; }
  .body .address .title {
    margin-left: 50px;
    text-align: left;
    font-size: 26px;
    font-weight: bolder;
    padding-top: 62px;
    margin-bottom: 25px; }
  .body .address .left, .body .address .right {
    vertical-align: top;
    padding-top: 0px;
    width: 590px;
    display: inline-block; }
    .body .address .left img, .body .address .right img {
      width: 100%;
      margin-bottom: 25px; }
    .body .address .left .button, .body .address .right .button {
      font-family: Helvetica-Bold,Hiragino-W6;
      font-size: 22px;
      font-weight: bolder;
      text-align: left;
      height: 50px;
      line-height: 50px; }
    .body .address .left .text, .body .address .right .text {
      font-family: Helvetica-Light,Hiragino-W3;
      font-size: 15px; }
  .body .address .left {
    padding-left: 50px; }
  .body .address .right {
    padding-left: 50px;
    padding-right: 50px; }

/*# sourceMappingURL=index.css.map */
