.top-static{
    margin-top:70px;
    position: relative;
    .overlay{

        position: absolute;
        top:80%;
        width: 100%;
        .text{
            margin: 0 auto;

        }
    }
    .top-static-img{
        width: 100%;
    }

}

.body {
    $game-img-space: 10px;
    $address-img-space: 50px;
    $img-margin: 50px;
    $game-title-top: 62px;
    $game-title-bottom: 25px;

    .recruit {
        font-family: Helvetica-Light,Hiragino-W3;
        padding-top: 30px;
        .recruit-content {
            margin-bottom: 30px;
            line-height: 30px;
            .small {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        .recruit-table{
            table{
                width: 100%;
                border: 2px solid transparent;
                border-collapse: collapse;
                thead{
                    tr{
                        height: 40px;
                        th{
                            font-size: 16px;
                            text-align: center;
                            font-family: Helvetica-Bold,Hiragino-W6;
                        }
                        th:first-child{
                            text-align: left;
                            padding-left: 20px;
                        }
                    }
                }
                tbody{
                    tr{

                        cursor: pointer;
                        td{
                            font-size: 15px;
                            text-align: center;
                            border-bottom: 1px solid #f2f2f3;
                            border-collapse: collapse;
                            height: 40px;
                        }
                        td:first-child{
                            text-align: left;
                            padding-left: 20px;
                        }
                        td[colspan='4']{
                            cursor: auto;
                            display: none;
                            height: auto;
                            .big{
                                font-size: 15px;
                                line-height: 25px;
                            }
                            .small{
                                font-size: 14px;
                                padding-bottom: 30px;
                                line-height: 25px;
                            }
                            .submit{
                                padding-bottom: 30px;
                                text-align: left;
                                button{
                                    width: 170px;
                                    height: 45px;
                                    border: none;
                                    outline: none;
                                    background-color: #373737;
                                    color: white;
                                }
                            }
                        }
                    }
                    tr:nth-child(4n+1),tr:nth-child(4n+2){
                        background-color: rgba(232,232,232,1);
                    }
                    tr:nth-child(4n+3),tr:nth-child(4n+4){
                        background-color: white;
                    }
                }
            }
        }

        .resume-div{
            padding-top: 20px;
            display: none;
            position: fixed;
            border: 1px solid rgba(27, 26, 24, 1);
            background-color: white;
            height: 300px;
            width: 300px;

            .left,.right{
                display: inline-block;
                margin-bottom: 10px;
                input{
                    width: 170px;
                    height: 30px;
                    border: 1px solid red;
                    outline: none;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                input:focus{
                    border-color: lightskyblue;
                }
            }
            .left{
                line-height: 30px;
                width: 70px;
                text-align: right;
            }

            .attachment{
                input[type=file]{
                    display: none;
                }
                button{
                    border: none;
                    width: 192px;
                    height: 30px;
                    border: 1px solid red;
                    outline: none;
                }
            }

            .status{

                .right{
                    background-color: #e8e8e8;
                    width: 192px;
                    text-align: center;
                    height: 30px;
                    line-height: 30px;
                    .progress{
                        background-color: #46b8da;
                        height: 30px;
                    }
                }

            }

            .send{

                button{
                    border: none;
                    background-color:#e8e8e8;
                    height: 30px;
                    width: 192px;
                }
            }

            .close{
                position: absolute;
                right: 1%;
                top:0px;
                i{
                    cursor: pointer;
                }
            }
        }
    }

    .address {
        .title {
            margin-left: $img-margin;
            text-align: left;
            font-size: 26px;
            font-weight: bolder;
            padding-top: $game-title-top;
            margin-bottom: $game-title-bottom;
        }
        border-top: 1px solid #dbdbdb;
        background-color: #e8e8e8;
        padding-bottom: 20px;
        font-size: 0;
        .left, .right {
            vertical-align: top;
            padding-top: 0px;
            width: (1330-$img-margin*2-$address-img-space)/2;
            display: inline-block;
            img {
                width: 100%;
                margin-bottom: 25px;
            }
            .button {
                font-family: Helvetica-Bold,Hiragino-W6;
                font-size: 22px;
                font-weight: bolder;
                text-align: left;
                height: 50px;
                line-height: 50px;
            }
            .text {
                font-family: Helvetica-Light,Hiragino-W3;
                font-size: 15px;
            }
        }
        .left {
            padding-left: $img-margin;
        }

        .right {
            padding-left: $address-img-space;
            padding-right: $img-margin;
        }

    }

}


