.addon-datepicker{
    @mixin disableSelect {
        moz-user-select: -moz-none;
        -moz-user-select: none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @include disableSelect;

    input{
        height: 24px;
        width: 70px !important;
        text-align: center;
    }

    .button-info{
        padding: 0;
        height: 30px;
        width: 30px;
        border-radius: 0;
        vertical-align: top;
    }

    .datepicker-panel{
        position: absolute;
        display: none;
        .datepicker-panel-head{
            background-color: #c4e1ff;
            padding: 10px;
            font-size: 12px;
            box-shadow: 3px 3px 3px #dce1ff;
            border: 2px solid #d2e1ff;
            border-radius: 2px;
            z-index: 2;
            .fa-arrow-circle-left{
                float: left;
            }
            .text{
                width: 195px;
                text-align: center;
                display: inline-block;
            }
            .fa-arrow-circle-right{
                float: right;
            }
        }
        .datepicker-panel-body{
            background-color: #c4e1ff;
            width: 240px;

            .week{
                width: 210px;

                margin-left: 15px;
                .week-head{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                }
            }
            .row{
                width: 210px;
                margin-left: 15px;
                div{
                    display: inline-block;
                    text-align: center;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    cursor: pointer;
                }
                div:hover{
                    background-color: #97cbff;
                }
                div.active{
                    background-color: rgba(65,132,243,1);
                }

                div.disabled{
                    opacity: 0.5;
                }

            }
        }
    }
}