.body {
    .section {
        width: auto;
        padding-left: 130px;
        padding-right: 130px;
        margin-bottom:40px;
        font-size: 0;
        text-align: left;
        p{
            width: auto;
            line-height: 25px;
        }

        .left {
            width: 30%;
            display: inline-block;
            img{
                width: 100%;
            }
        }
        .right {
            width: 70%;
            display: inline-block;
            vertical-align: top;
            .title{
                text-align: left;
                margin-bottom: 0;
                padding-top:0;
                padding-left: 10px;
                padding-right: 10px;
            }

            .paragraph{
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
                color: #666;
            }

            .bottom{
                font-size: 16px;
                color:#e9a500;
                margin-bottom: 0px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .bottom:hover{
                color: #f6dfa6;
                cursor: pointer;
            }
        }
    }

    .section:first-child{
        margin-top:40px;
    }
}
