.body{
    .content{
        .content-title{
            margin-top:20px;
            margin-left: 10px;
        }
        .section{
            .text{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        @media screen and (max-width: 800px){
            .section{
                width: 100%;
            }
        }
    }
}
