.body{
    .content{
        .content-title{
            margin-left: 10px;
        }
        .section{
            .text{
                margin-left: 10px;
                margin-right: 80px;
            }
        }

    }
}