/**
* wall css
*/
.addon-wall {
	display: inline-block;
}

.addon-wall>.contain {
	position: relative;
}

/*display input*/
.addon-wall>.contain>button {
	height: 30px;
}

/*select panel*/
.addon-wall>.contain>.panel {
	display: none;
	position: absolute;
	background-color: rgba(48, 48, 48, 1);
	z-index: 10;
	border: none;
	float: none;
	outline: none;
}