$height: 70px;
$width: 1000px;
$back-color: rgba(84,189,220,1);
$hover-color:rgba(237,159,47,1);
$active-color:rgba(83,173,83,1);
$font-color:black;
$padding: 10px;
$line-height:$height - $padding*2;
$font-size:20px;

.addon-nav {

    @mixin menu() {
        div {
            float: left;
            height: $line-height;
            line-height: $line-height;
            cursor:pointer;
        }

        div:hover{
            color:$hover-color;
        }
        div.active{
            color:$active-color;
        }
    }

    height: $height;
    font-size: $font-size;
    font-weight: 600;
    color:$font-color;

    .container {
        z-index: 50;
        position: fixed;
        background-color: $back-color;
        padding-top: $padding;
        padding-bottom: $padding;
        height: $height;
        width: 100%;
        box-shadow: 1px 1px 1px;

        span{
            margin-left: 100px;
            float: left;
            img{
                height: $line-height;
            }
        }
        .left {
            margin: auto;
            width: $width;
            @include menu();
        }
        .right {
            float: right;
            @include menu();
        }
    }

}