
.navbar {
    height: 70px;
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: white;
    color: #313132;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .container {
        max-width: 1330px;
        margin: auto;
        .icon {
            a {
                img {
                    float: left;
                    height: 40px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
        }
        .content {
            float: right;
            .menu {
                float: left;
                div {
                    float: left;
                    a {
                        font-size: 18px;
                        margin-right: 30px;
                        text-decoration: none;
                        color: #313132;
                        letter-spacing: 0.5px;
                        font-weight: bolder;
                        height: 70px;
                        line-height: 75px;
                        display: block;
                    }
                }
            }
            .search {
                float: left;
                input {
                    border: none;
                    border-bottom: 2px solid #cdcdcd;
                    height: 20px;
                    margin-top:20px;
                    outline: none;
                }
                input:hover {
                    border: none;
                    border-bottom: 2px solid #b5b5b5;
                }
                img {
                    cursor: pointer;
                    margin-left: 10px;
                    vertical-align: middle;
                    height: 21px;
                }
            }
            .language {
                float: left;
                margin-left: 20px;
                .line {
                    width: 1px;
                    height: 10px;
                    background-color: #313132;
                    margin-top: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                }
                span {
                    display: inline-block;
                    font-size: 13px;
                    cursor: pointer;
                    height: 100%;
                }
            }
        }
    }

}

.top {
    padding-top: 70px;
    .overlay {
        position: absolute;
        background-color: rgba(27, 26, 24, 0.6);
        width: 100%;
        z-index: 18;
        text-align: center;
        color: white;
        font-size: 20px;
    }
}

.single {
    position: relative;
    text-align: center;
    width: 100%;
    .text {

        .big {
            font-weight: bolder;
            font-size: 70px;
            font-family: Arial;
        }
        .small {
            font-weight: lighter;
            font-size: 20px;
            font-family: "Microsoft YaHei UI";
            margin-left: 500px;
            margin-right: 500px;
            word-spacing: 2px;
        }

        button {
            font-size: 22px;
            border-radius: 8px;
            border: 2px solid white;
            background-color: inherit;
            color: white;
            height: 60px;
            min-width: 300px;
            font-weight: bolder;
            font-family: NIRMALA;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.body {
    width: 1330px;
    margin: auto;
    font-family: NIRMALA;
}

body {
    .back-to-top {
        position: fixed;
        top: 50%;
        right: 5%;
        font-size: 5em;
        opacity: 0.5;
        z-index: 60;
        i {
            cursor: pointer;
        }
    }
}

.section {

    text-align: center;
    .title {
        padding-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
        font-family: NIRMALA;
    }
    p {
        text-align: justify;
        font-family: Arial;
        line-height: 30px;
        word-break: break-all;
    }
}

button {
    cursor: pointer;
}

$input-height: 33px;

.footer {
    background-color: #424242;
    text-align: center;
    min-width: 1330px;
    .content {
        width: 511px;
        padding-top: 150px;
        margin: auto auto 150px;
        .left {
            float: left;
            height: $input-height+2;
            input {
                color: #adadad;
                background-color: rgba(53, 52, 51, 1);
                height: $input-height;
                width: 230px;
                font-size: 12px;
                outline: none;
                border: none;
                float: left;
                padding-left: 4px;
                font-weight: bolder;
            }
            input::-webkit-input-placeholder {
                color: #424242;
            }
            input:-moz-placeholder {
                color: #424242;
            }
            input::-moz-placeholder {
                color: #424242;
            }
            input:-ms-input-placeholder {
                color: #424242;
            }
            button {
                background-color: rgba(130, 130, 130, 1);
                border: 1px solid rgba(130, 130, 130, 1);
                height: $input-height+2;
                font-size: 14px;
                outline: none;
                font-weight: bolder;
                color: #adadad;
                width: 110px;
            }
            button:hover {
                color: white;
                background-color: transparent;
                border: none;
            }
        }
        .right {
            float: right;
            height: $input-height+2;
            img {
                height: $input-height+2;
                vertical-align: middle;
                margin-left: 5px;
                opacity: 0.5;
            }
        }
    }

    .footer_text {
        width: 1330px;
        margin: auto;
        color: white;
        text-align: center;
        height: 50px;
        div {
            color: #666;
            font-size: 14px;
            vertical-align: middle;
            word-spacing: 5px;
            letter-spacing: 1px;
        }
        img {
            vertical-align: middle;
            height: 25%;
            margin-left: 5px;
            margin-right: 5px;
            width: 1px;
        }
    }
}

@font-face {
    font-family: BEBASNEUE;
    src: url("../font/BEBASNEUE.otf");
}

.BEBASNEUE {
    font-family: BEBASNEUE;
}

@font-face {
    font-family: NIRMALA;
    src: url("../font/NIRMALA.TTF");
}

.NIRMALA {
    font-family: NIRMALA;
}

@font-face {
    font-family: MMRTEXT;
    src: url("../font/MMRTEXT.TTF");
}

.MMRTEXT {
    font-family: MMRTEXT;
}

.yahei {
    font-family: "Microsoft YaHei UI";
}

.Arial {
    font-family: Arial;
}

@font-face {
    font-family: ARIALN;
    src: url("../font/ARIALN.TTF");
}

.ARIALN {
    font-family: ARIALN;
}