
.navbar {
    height: 70px;
    position: fixed;
    z-index: 50;
    top:0;
    width: 100%;
    background-color: white;
    color: #313132;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Helvetica-Bold,Hiragino-W6,test;
    .container {
        max-width: 1330px;
        margin: auto;
        .search-panel{
            $padding-width:100px;
            display: none;
            position: absolute;
            height: 700px;
            width: 1330px;
            top:70px;
            padding-top:10px;
            background-color: #161616;
            .fa-times{
                color: #666;
                float: right;
                font-size: 20px;
                padding-right: 30px;
                cursor: pointer;
            }
            .fa-times:hover{
                color: white;
            }

            .search-head{
                padding-top: 40px;
                color: #666;
                .brand{
                    float: left;
                    padding-left: $padding-width;
                }

                .paginationStr{
                    margin-left: 60px;
                    float: right;
                    padding-right: $padding-width;
                }

                i{
                    float: right;
                    margin-right: 20px;
                    font-weight: bolder;
                    cursor: pointer;
                }
            }


            .search-panel-body{
                padding-top: 40px;
                a{
                    margin: 10px $padding-width;
                    color: #666;
                    height: 40px;
                    padding-top: 10px;
                    text-decoration: none;
                    display: block;
                    border-bottom: 1px solid #2d2d2d;
                    .big{
                        font-size: 16px;
                        font-weight: bolder;
                        width: 20%;
                        float:left;
                        text-align: justify;
                        display: inline-block;
                        color: #999;
                    }

                    .small{
                        font-size: 16px;
                        text-align: justify;
                        display: inline-block;
                        width: 80%;
                        white-space:nowrap;
                        overflow:hidden;
                        text-overflow:ellipsis;
                    }

                }
                a:hover{
                    color: white;
                }
            }

            .pagination{
                position: absolute;
                bottom: 20px;
                width: 100%;
                font-weight: bolder;

                color: #666;

                .previous,.next{
                    cursor: pointer;
                    text-align: center;
                    display: inline-block;
                    border: none;
                    background-color: transparent;
                    color: #666;
                    outline: none;
                }

                .previous:hover,.next:hover{
                    color: white;
                }

                .previous{
                    float: left;
                    padding-left: $padding-width;
                }
                .next{
                    float: right;
                    padding-right: $padding-width;
                }
            }
        }
        .icon {
            a {
                cursor: pointer;
                img {
                    float: left;
                    height: 40px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
        }
        .content {
            float: right;
            .menu {
                float: left;
                div {
                    float: left;
                    a {
                        cursor: pointer;
                        font-size: 18px;
                        margin-right: 30px;
                        text-decoration: none;
                        color: #313132;
                        letter-spacing: 0.5px;
                        //font-weight: bolder;
                        height: 70px;
                        line-height: 75px;
                        display: block;
                    }
                }
            }
            .search {
                float: left;
                margin-top:20px;
                input {
                    border: none;
                    border-bottom: 2px solid #cdcdcd;
                    height: 20px;
                    outline: none;
                }
                input:hover {
                    border: none;
                    border-bottom: 2px solid #b5b5b5;
                }
                img {
                    cursor: pointer;
                    margin-left: 10px;
                    vertical-align: middle;
                    height: 21px;
                }
                button{
                    display: none;
                }
            }
            .language {
                float: left;
                margin-left: 20px;
                .line {
                    width: 1px;
                    height: 10px;
                    background-color: #313132;
                    margin-top: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                }
                span {
                    display: inline-block;
                    font-size: 13px;
                    cursor: pointer;
                    height: 100%;
                }
            }
        }
    }

}

.top {
    padding-top: 70px;
    font-family: Helvetica-Bold,Hiragino-W6;
    .overlay {
        position: absolute;
        background-color: rgba(27, 26, 24, 0.6);
        width: 100%;
        z-index: 18;
        text-align: center;
        color: white;
        font-size: 20px;
    }
}

.single {
    position: relative;
    text-align: center;
    width: 100%;
    .text {
        .big {
            font-size: 70px;
        }
        .small {
            font-weight: lighter;
            font-size: 20px;
            word-spacing: 2px;
        }

        button {
            font-size: 22px;
            border-radius: 8px;
            border: 2px solid white;
            background-color: inherit;
            color: white;
            height: 60px;
            min-width: 300px;
            font-weight: bolder;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.body {
    margin: auto;
}

body {
    .back-to-top {
        position: fixed;
        top: 50%;
        right: 5%;
        font-size: 5em;
        opacity: 0.5;
        z-index: 60;
        i {
            cursor: pointer;
        }
    }
}

.section {

    text-align: center;
    .title {
        padding-top: 30px;
        margin-bottom: 30px;
        font-size: 22px;
        text-align: center;
        font-family: Helvetica-Bold,Hiragino-W6;
    }
    p {
        text-align: justify;
        font-family: Helvetica-Light,Hiragino-W3;
        line-height: 30px;
        word-break: normal;
        font-size: 16px;
    }
    button{
        a{
            font-family: Helvetica-Bold,Hiragino-W6;
        }
    }
    .button{
        font-family: Helvetica-Bold,Hiragino-W6;
    }
    .text{
        font-family: Helvetica-Light,Hiragino-W3;
    }
}

button {
    cursor: pointer;
}

$input-height: 33px;

.footer {
    background-color: #424242;
    text-align: center;
    min-width: 1330px;
    font-family: Helvetica-Bold,Hiragino-W6;
    .content {
        width: 511px;
        padding-top: 150px;
        margin: auto auto 150px;
        .left {
            float: left;
            height: $input-height+2;
            input {
                color: #adadad;
                background-color: rgba(53, 52, 51, 1);
                height: $input-height;
                width: 230px;
                font-size: 12px;
                outline: none;
                border: none;
                float: left;
                padding-left: 4px;
                font-weight: bolder;
            }
            input::-webkit-input-placeholder {
                color: #424242;
            }
            input:-moz-placeholder {
                color: #424242;
            }
            input::-moz-placeholder {
                color: #424242;
            }
            input:-ms-input-placeholder {
                color: #424242;
            }
            button {
                background-color: rgba(130, 130, 130, 1);
                border: 1px solid rgba(130, 130, 130, 1);
                height: $input-height+2;
                font-size: 14px;
                outline: none;
                font-weight: bolder;
                color: #adadad;
                width: 110px;
            }
            button:hover {
                color: white;
                background-color: transparent;
                border: none;
            }
        }
        .right {
            float: right;
            height: $input-height+2;
            img {
                height: $input-height+2;
                vertical-align: middle;
                margin-left: 5px;
                opacity: 0.5;
            }
        }
    }

    .footer_text {
        width: 1330px;
        margin: auto;
        color: white;
        text-align: center;
        height: 50px;
        font-family: Helvetica-Light,Hiragino-W3;
        div {
            color: #666;
            font-size: 14px;
            vertical-align: middle;
            word-spacing: 5px;
            letter-spacing: 1px;
        }
        img {
            vertical-align: middle;
            height: 25%;
            margin-left: 5px;
            margin-right: 5px;
            width: 1px;
        }
    }
}

@font-face {
    font-family: Hiragino-W3;
    src: url("../font/Hiragino Sans GB W3.otf");

}

@font-face {
    font-family: Hiragino-W6;
    src: url("../font/Hiragino Sans GB W6.otf");

}

@font-face {
    font-family: Helvetica-Bold;
    //src: url("../font/Helvetica Neue.ttf");
    src: url("../font/blenderpro-medium-webfont.woff");
}

@font-face {
    font-family: Helvetica-Light;
    src: url("../font/Helvetica Neue Light.otf");
    //src: url("../font/blenderpro-book-webfont.woff");
}


.section-title-bottom{
    margin-bottom:15px !important;
}
