.navbar{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	.container{
		.search-panel{
			white-space: nowrap;
			width: 90%;
			padding-left: 5%;
			padding-right: 5%;


			padding-top: 0;
			background-color: white;
			.hot{
				min-height: 200px;
				white-space:normal;

                .title{
					padding-top:10px;
					border-top:1px solid #DBDBDB;
					border-bottom: 1px solid #ECECEC;
					margin-bottom: 15px;
				}


				.li{
					$li-height:12px;
					display: inline-block;
					width: 90%;

					margin-top:0px;
					.img{

						display: inline-block;
						height: $li-height;
						img{
							margin-right: 10px;
							height: 100%;
						}
					}
					.text{
						display: inline-block;
						.big{
							display: inline-block;
							font-size: 15px;
							font-weight: bolder;
							font-family: Arial;
							color: #666;
						}
						.small{
							margin-left: 10px;
							display: inline-block;
							font-size: 15px;
							font-family: Arial;
							color:#DBDBDB;
						}
					}



				}
			}
			.search-panel-body{
				overflow-y: visible;
				padding-top: 0;
				a{
					margin: 15px 5%;
					border-bottom:none;
					.big{
                        width: 100%;
					}
					.small{
                        display: none;
					}
				}
			}
			.pagination{
                width: auto;
				position: absolute;
				right: 5%;
				.previous:hover,.next:hover{
					color: black;
				}
				.previous{
                    padding-left: 0;
				}

				.next{
                    padding-right: 0;

				}
			}

		}
		.icon{
			$icon-height:24px;
			margin-left: 20px;
			a{
				img{
					height: $icon-height;
					margin-top:(70-$icon-height)/2;
					margin-bottom:(70-$icon-height)/2;
				}
			}
		}
		.content{
			width: 100%;
			.menu {
				height: 30px;
				line-height: 30px;
				background-color: rgba(0,0,0,0.5);
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				box-shadow: 2px 2px 5px;
				width: 140%;
				div{
					width: 14.28%;
					a{
						width: 100%;
						color:white;
						height: 30px;
						line-height: 30px;
						font-size: 12px;
						text-align: center;
					}
				}
			}
			.search{
				position: absolute;
				top:0px;
				right: 80px;
				input{
					display: none;
					border: 1px solid #DBDBDB;
					border-radius: 25px;
					padding-left: 30px;
					padding-right: 20px;
				}
				input:hover{
					border: 1px solid #DBDBDB;
				}

				img{
					margin-top:5px;
					height: 18px;
					float: right;
				}
				button{
                    border: none;
					outline: none;
					background: transparent;
					font-size: 14px;
					float: right;
					color: #666;
				}
			}
			.language{
				position: absolute;
				top:15px;
				right: 10px;

				margin-top:10px;
				margin-bottom:10px;
				margin-left: 0px;
				text-align: right;
				.line{
					margin-top: 2.5px;
				}
			}
		}
	}
}

.footer {
	min-width: inherit;
	.content{
		position: relative;
		padding-top: 20px;
		margin-bottom: 100px;
		width: 100%;
		.left{
			width: 100%;
			padding-top:50px;
			$input-height:30px;
			height: $input-height;

			input{
				margin-left: 10%;
				width: 40%;
				padding-left: 0;
				height: ($input-height)-2;
				font-size: 12px;
				display: block;
			}
			button{
				display: block;
				width: 40%;
				height: ($input-height);
				border: none;
			}
		}
		.right{
			position: absolute;
			width: 100%;
		}
	}
	.footer_text{
		width: 100%;
		div span{
            display: none;

		}
	}
}

.section {
	width: auto;
	margin: auto;
	p{
		padding-left:10px;
		padding-right: 10px;
	}
}

.body{
	width: auto;
}

.single{
	.text{
		.big{
			font-size: 50px;
		}

		.small{
			font-size: 16px;
			margin-left: 10%;
			margin-right: 10%;
		}
	}
}