/***************navbar***************/
.navbar>div>.content{
    /*margin-right: 80px;*/
}
.navbar>div>.icon{
    /*margin-left: 80px;*/
}

.navbar>div>.content>.list{
    display: none;
}
.navbar>div>.content>.menu>div>a:hover{
    color:#999;
}

.navbar>div>.content>.menu>.language>div:first-child{
    margin-left: 20px;
}
.navbar>div>.content>.menu>.language>.lang:hover{
    color:#999;
}

