.navbar{
    .container{
        .icon{
            margin-left: 30px;
        }
        .content{

            .menu{
                height: 70px;
                line-height: 70px;
                a:hover{
                    color:#999;
                }
            }
            .search{
                input{
                    width: 100px;
                }
            }
            .language{
                .lang:hover{
                    color:#999;
                }
                .en{
                    margin-left: 20px;
                }
            }

        }
    }
}

.section {
    width: auto;
    margin: auto;
    p{
        padding-left:10px;
        padding-right: 10px;
    }
}

.single{
    .text{
        .small{
            margin-left: 300px;
            margin-right: 300px;
        }
    }
}

.footer{
    min-width: inherit;
    .footer_text{
        width: auto;
    }
}