.navbar {
  height: 70px;
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: white;
  color: #313132;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .navbar .container {
    max-width: 1330px;
    margin: auto; }
    .navbar .container .icon a img {
      float: left;
      height: 40px;
      margin-top: 15px;
      margin-bottom: 15px; }
    .navbar .container .content {
      float: right; }
      .navbar .container .content .menu div {
        float: left; }
        .navbar .container .content .menu div a {
          font-size: 18px;
          margin-right: 30px;
          text-decoration: none;
          color: #313132;
          letter-spacing: 0.5px;
          font-weight: bolder;
          height: 70px;
          line-height: 75px;
          display: block; }
      .navbar .container .content .menu .search input {
        border: none;
        border-bottom: 2px solid #cdcdcd;
        height: 30px;
        outline: none; }
      .navbar .container .content .menu .search input:hover {
        border: none;
        border-bottom: 2px solid #b5b5b5; }
      .navbar .container .content .menu .search img {
        cursor: pointer;
        margin-left: 10px;
        vertical-align: middle;
        height: 21px; }
      .navbar .container .content .menu .language {
        margin-left: 20px; }
        .navbar .container .content .menu .language .line {
          width: 1px;
          height: 10px;
          background-color: #313132;
          margin-top: 30px;
          margin-left: 3px;
          margin-right: 3px; }
        .navbar .container .content .menu .language span {
          display: inline-block;
          font-size: 13px;
          cursor: pointer;
          height: 100%; }
      .navbar .container .content .list {
        float: right;
        color: black;
        font-size: 2em; }
        .navbar .container .content .list .fa-times {
          display: none; }
        .navbar .container .content .list i {
          height: 70px;
          line-height: 70px;
          width: 100px;
          text-align: center;
          cursor: pointer; }

.top {
  padding-top: 70px; }
  .top .overlay {
    position: absolute;
    background-color: rgba(27, 26, 24, 0.6);
    width: 100%;
    z-index: 18;
    text-align: center;
    color: white;
    font-size: 20px; }

.single {
  position: relative;
  text-align: center;
  width: 100%; }
  .single .text .big {
    font-weight: bolder;
    font-size: 70px;
    font-family: Arial; }
  .single .text .small {
    font-weight: lighter;
    font-size: 20px;
    font-family: "Microsoft YaHei UI";
    margin-left: 500px;
    margin-right: 500px;
    word-spacing: 2px; }
  .single .text button {
    font-size: 22px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: inherit;
    color: white;
    height: 60px;
    min-width: 300px;
    font-weight: bolder;
    font-family: NIRMALA;
    padding-left: 20px;
    padding-right: 20px; }

.body {
  width: 1330px;
  margin: auto;
  font-family: NIRMALA; }

body .back-to-top {
  position: fixed;
  top: 50%;
  right: 5%;
  font-size: 5em;
  opacity: 0.5;
  z-index: 60; }
  body .back-to-top i {
    cursor: pointer; }

.section {
  text-align: center; }
  .section .title {
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    font-family: NIRMALA; }
  .section p {
    text-align: justify;
    font-family: Arial;
    line-height: 30px;
    word-break: break-all; }

button {
  cursor: pointer; }

.footer {
  background-color: #424242;
  text-align: center;
  min-width: 1330px; }
  .footer .content {
    width: 511px;
    padding-top: 150px;
    margin: auto auto 150px; }
    .footer .content .left {
      float: left;
      height: 35px; }
      .footer .content .left input {
        color: #adadad;
        background-color: #353433;
        height: 33px;
        width: 230px;
        font-size: 12px;
        outline: none;
        border: none;
        float: left;
        padding-left: 4px;
        font-weight: bolder; }
      .footer .content .left input::-webkit-input-placeholder {
        color: #424242; }
      .footer .content .left input:-moz-placeholder {
        color: #424242; }
      .footer .content .left input::-moz-placeholder {
        color: #424242; }
      .footer .content .left input:-ms-input-placeholder {
        color: #424242; }
      .footer .content .left button {
        background-color: #828282;
        border: 1px solid #828282;
        height: 35px;
        font-size: 14px;
        outline: none;
        font-weight: bolder;
        color: #adadad;
        width: 110px; }
      .footer .content .left button:hover {
        color: white;
        background-color: transparent;
        border: none; }
    .footer .content .right {
      float: right;
      height: 35px; }
      .footer .content .right img {
        height: 35px;
        vertical-align: middle;
        margin-left: 5px;
        opacity: 0.5; }
  .footer .footer_text {
    width: 1330px;
    margin: auto;
    color: white;
    text-align: center;
    height: 50px; }
    .footer .footer_text div {
      color: #666;
      font-size: 14px;
      vertical-align: middle;
      word-spacing: 5px;
      letter-spacing: 1px; }
    .footer .footer_text img {
      vertical-align: middle;
      height: 25%;
      margin-left: 5px;
      margin-right: 5px;
      width: 1px; }

@font-face {
  font-family: BEBASNEUE;
  src: url("../font/BEBASNEUE.otf"); }
.BEBASNEUE {
  font-family: BEBASNEUE; }

@font-face {
  font-family: NIRMALA;
  src: url("../font/NIRMALA.TTF"); }
.NIRMALA {
  font-family: NIRMALA; }

@font-face {
  font-family: MMRTEXT;
  src: url("../font/MMRTEXT.TTF"); }
.MMRTEXT {
  font-family: MMRTEXT; }

.yahei {
  font-family: "Microsoft YaHei UI"; }

.Arial {
  font-family: Arial; }

@font-face {
  font-family: ARIALN;
  src: url("../font/ARIALN.TTF"); }
.ARIALN {
  font-family: ARIALN; }

/*# sourceMappingURL=common.css.map */
