.navbar{
    .container{
        .content{
            .menu{
                height: 70px;
                line-height: 70px;
                a:hover{
                    color:#999;
                }
            }
            .search{
                line-height: 50px;
                input{
                    width: 180px;
                    font-size:18px;
                }
            }
            .language{
                .lang:hover{
                    color:#999;
                }
                .en{
                    margin-left: 20px;
                }
            }

        }
    }
}

.section {
    width: 1330px;
    margin: auto;
    p{
        width: 1330px;
    }
}

