.body{
    .carousel{
        .big{
            width: 100%;

        }
        .small{
            width: 100%;
            height: auto;
            p{
                position: static;
            }
        }
    }
}