
.body {
    .content {
        .title {

        }
        .introduction {

        }
    }

    .carousel {

        .small {
            line-height: 26px;
            font-size: 14px;
            width: 18%;
            margin-left: 1%;
            margin-right: 1%;
            float: left;
            color: white;
            font-family: Arial;
            text-align: justify;
            word-break:break-all;
            position: relative;
            height: 488px;
            p{
                position: absolute;
                bottom: 0px;
            }
        }
        .big {
            font-size: 0;
            width: 80%;
            float: left;
            img {
                width: 100%;
            }
        }
    }
    .carousel>div>div{
        background-color: #313132;
    }

    .position {
        height: 336px;
        .a, .b {
            width: 25%;
            float: left;
            height: 100%;
        }
        .c {
            width: 50%;
            float: left;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

}
