<component name="libraryTable">
  <library name="Spring-4.3.0.RELEASE" type="spring">
    <properties version="4.3.0.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-instrument-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-aspects-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-instrument-tomcat-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-context-support-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-expression-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-jdbc-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-oxm-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-jms-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-aop-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-orm-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-messaging-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-beans-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-tx-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-test-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-context-4.3.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/LibRoot/spring/spring-core-4.3.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>