$min-width: 1280px;
$max-width: 1680px;
@media screen and (max-width: $max-width) and (min-width: $min-width) {
    body {
        .banner .container .order .content {

            .email {
                margin-top: 30px !important;
            }

            .g-recaptcha {
                margin-top: 60px;
            }

            .submit {
                margin-top: 60px;
            }
        }
    }
}