@media screen and (min-width: 1680px) {
    body {
        .banner .container .order .content {

            .email{
                margin-top: 40px !important;
            }

            .g-recaptcha {
                margin-top: 80px;
            }

            .submit {
                margin-top: 80px;
            }
        }
    }
}