
.overlay {
    position: absolute;
    background-color: rgba(27, 26, 24, 0.6);
    width: 100%;
    z-index: 18;
    text-align: center;
    color: white;
    font-size: 20px;
    .text {
        line-height: 100px;
        .big {
            font-size: 100px;
        }
        .small {
            font-size: 30px;
            margin-top: 10px;
            word-spacing: 8px;
        }
    }
}

.about-us {
    button {
        border-radius: 5px;
        border: 2px solid rgba(55, 55, 55, 1);
        background-color: rgba(55, 55, 55, 1);
        color: white;
        height: 40px;
        width: 200px;
        margin-top: 25px;
        margin-bottom: 80px;
        font-size: 20px;
    }
    button:hover {
        background-color: transparent;
        color: rgba(55, 55, 55, 1);
    }
}

.our-games {
    background-color: #313132;
    text-align: center;
    color: white;
    .container{
        width: 1330px;
        margin: auto;
        text-align: center;
    }

    button {
        border-radius: 5px;
        border: 2px solid white;
        background-color: rgba(255, 255, 255, 1);
        color: #313132;
        height: 40px;
        width: 200px;
        margin-top: 40px;
        margin-bottom: 80px;
        font-size: 20px;
    }
    button:hover {
        background-color: transparent;
        color: white;
    }
}

.developers {
    img {
        height: 60px;
        width: 60px;
    }
    .first-div {
        margin-top: 60px;
        margin-bottom: 60px;
        .second {
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .second-div {
        margin-bottom: 60px;
        .first {
            margin-right: 50px;
        }
        .second {
            margin-left: 50px;
        }
    }
    span {
        display: block;
    }
}
