
.body {
    font-size: 0;
    .content {
        .section {
            margin-left: 0px;
            margin-right: 0px;
            .left, .right {
                vertical-align: top;
                margin-top: 0;
                font-size: 0;
                display: inline-block;
                width: 50%;
                .game-img {
                    width: 100%;
                }
                video{
                    width: 100%;
                }

                .text {
                    margin-top:80px;
                    .logo {
                        width: 50%;
                        margin-bottom:30px;
                    }
                    .title {
                        margin-bottom: 15px;
                    }

                    .bottom {
                        .button{
                            margin:0 auto;
                            font-size: 18px;
                            width: 300px;
                            height: 45px;
                            line-height: 45px;
                            color:#313132;
                            border: 2px solid #313132;
                            border-radius: 8px;
                            cursor: pointer;
                            img{
                                width: 30%;
                                margin-left: 40%;
                            }
                        }
                        .button:hover{
                            background: url('../../common/image/buttonshape.png') no-repeat center center;
                            background-size:50px 20px;
                        }
                        .button:hover span{
                            display: none;
                        }
                    }
                    .paragraph {
                        font-size: 16px;
                        margin-left: 10px;
                        margin-right: 10px;
                        margin-bottom: 60px;
                        color: #666;
                    }
                }
            }
        }
        .game2{
            .right{
                float: right;
            }
        }
    }
}
