body {
    word-wrap: break-word;
    font-size: 0;
    .top {
        width: 100%;
    }

    .article {
        padding-bottom: 50px;
        .left {
            display: inline-block;
            width: 25%;
            img {
                width: 100%;
            }
        }
        .right {
            width: 75%;
            vertical-align: top;
            display: inline-block;
            .text1 {
                padding-left: 40px;

                font-size: 18px;
                color: white;
            }
            .text2 {
                padding-left: 40px;
                margin-top: 20px;
                font-size: 16px;
                color: rgba(141, 141, 141, 1);
            }
        }
    }

    .middle {
        padding-top: 70px;
        background-color: black;
    }
    .foot {
        background: black url('../image/footback.png') no-repeat;
        background-size: 100%;
        .pagination {
            text-align: center;
            padding-bottom: 30px;
            button {
                font-size: 16px;
                vertical-align: top;
                cursor: pointer;
                border: 1px solid white;
                outline: none;
                border-radius: 0;
                height: 30px;
                min-width: 60px;
                background-color: black;
                color: white;
            }
            button:hover{
                border: 1px solid rgba(255,180,0,0.6);
                background-color: rgba(255,180,0,0.6);
                color: black;
            }
            button.active{
                border: 1px solid rgba(255,180,0,1);
                background-color: rgba(255,180,0,1);
                color: black;
            }
            .start,.end {
                min-width: 100px;
            }


        }
    }

}