body {
    word-wrap: break-word;
    font-size: 0;
    .top {
        width: 100%;
    }

    .article {
        padding-bottom: 50px;
        .left {
            display: inline-block;
            width: 25%;
            img {
                width: 100%;
            }
        }
        .right {
            width: 75%;
            vertical-align: top;
            display: inline-block;
            .text1 {
                padding-left: 40px;
                margin-top: 30px;
                font-size: 18px;
                color: white;
            }
            .text2 {
                padding-left: 40px;
                margin-top: 20px;
                font-size: 16px;
                color: rgba(141, 141, 141, 1);
            }
        }
    }

    .middle {
        padding-top: 70px;
        background-color: black;
    }
    .foot {
        padding-bottom: 500px;
        background: url('../image/footback.png');
        background-size: 100%;
        .pagination {
            button {
                vertical-align: top;
                cursor: pointer;
                border: none;
                outline: none;
                border-radius: 0;
                height: 40px;
                min-width: 40px;
                background-color: black;
                color: white;
            }
            .prev {
                //border-radius: 5px 0 0 5px;
            }
            .go {
                //border-radius: 0 5px 5px 0;
            }
            input{
                height: 34px;
                width: 50px;
                text-align: center;
            }
        }
    }

}